<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
    :class="[
      {
        [$style.light]: iconColor === 'light',
        [$style.dark]: iconColor === 'dark',
        [$style.nonActive]: !active,
      }
    ]"
  >
    <g v-if="$attrs.hasOwnProperty('plus')">
      <path d="M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.853,256-256S397.167,0,256,0z M256,472.341c-119.275,
      0-216.341-97.046-216.341-216.341S136.725,39.659,256,39.659S472.341,136.705,472.341,256S375.295,472.341,256,472.341z"/>
      <path d="M355.148,234.386H275.83v-79.318c0-10.946-8.864-19.83-19.83-19.83s-19.83,8.884-19.83,19.83v79.318h-79.318c-10.966,
      0-19.83,8.884-19.83,19.83s8.864,19.83,19.83,19.83h79.318v79.318c0,10.946,8.864,19.83,19.83,19.83s19.83-8.884,
      19.83-19.83v-79.318h79.318c10.966,0,19.83-8.884,19.83-19.83S366.114,234.386,355.148,234.386z"/>
    </g>
    <g v-if="$attrs.hasOwnProperty('minus')">
      <path d="M256,0C114.853,0,0,114.833,0,256s114.853,256,256,256c141.167,0,256-114.833,256-256S397.147,0,256,0z M256,
      472.341c-119.295,0-216.341-97.046-216.341-216.341S136.705,39.659,256,39.659S472.341,136.705,472.341,256S375.295,472.341,256,472.341z"/>
      <path d="M355.148,234.386H156.852c-10.946,0-19.83,8.884-19.83,19.83s8.884,19.83,19.83,19.83h198.296c10.946,
      0,19.83-8.884,19.83-19.83S366.094,234.386,355.148,234.386z"/>
    </g>
  </svg>
</template>

<script>
  export default {
    name: "PlusMinusIcon",
    props: {
      iconColor: {
        type: String,
        required: false,
        default: 'dark'
      },
      active: {
        type: Boolean,
        required: false,
        default: true
      }
    }
  }
</script>

<style lang="scss" module>
  .light {
    fill: $ecMainLight;
  }
  .dark {
    fill: $ecMainDark;
  }
  .nonActive {
    opacity: 0.3;
  }
</style>