<template>
  <div :class="$style.authPage">
    <input
      :class="$style.input"
      type="password"
      v-model="sequence"
    >

    <div :class="$style.keyboard">
      <div :class="$style.row" v-for="(row, key) in keyboardPattern" :key="key">
        <div :class="$style.button" v-for="(number, key) in row" :key="key" @click="addNumber(number)">
          <span :class="$style.text">{{ number }}</span>
        </div>
      </div>
      <div :class="$style.row">
        <div :class="$style.button" @click="sequence = ''">
          <span :class="$style.text">С</span>
        </div>
        <div :class="$style.button" @click="addNumber('0')">
          <span :class="$style.text">0</span>
        </div>
        <div :class="$style.button" @click="backspace">
          <img
              :class="$style.delete"
              src="@/assets/img/previous.png"
              alt="удалить"
          >
        </div>
      </div>
    </div>

    <portal to="footer">
      <MainFooter :class="$style.footer">
        <BaseButton back @click="$emit('close')">Назад</BaseButton>
        <BaseButton next :active="sequence.length === 4" @click="checkPassword()">Вперед</BaseButton>
      </MainFooter>
    </portal>
  </div>
</template>

<script>
  import { log } from "@/helpers/log";
  import BaseButton from "@/components/base/BaseButton";
  import MainFooter from "@/components/service/MainFooter";

  export default {
    name: "AuthPage",
    components: {BaseButton, MainFooter},
    data() {
      return {
        sequence: '',
        password: '1234',
        keyboardPattern: [['1','2','3'], ['4','5','6'], ['7','8','9']]
      }
    },
    methods: {
      addNumber(number) {
        if (this.sequence.length < 4) {
          this.sequence += number;
        }
      },
      backspace() {
        this.sequence = this.sequence.substring(0, this.sequence.length - 1)
      },
      checkPassword() {
        if (this.sequence === this.password) {
          alert('Пароль верный!');
        } else {
          alert('Неверный пароль!');
        }
        this.sequence = '';
      },
    },
    created() {
      log.step('Переход на страницу авторизации администратора');
    }
  }
</script>

<style lang="scss" module>
  .authPage {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
    background-color: $ecBackground;
    width: 100vw;
    height: 100vh;
    z-index: 1000;

    .input {
      text-align: center;
      font-size: 53px;
      font-weight: bold;
      color: $ecFontDark;
      box-shadow: $ecCardShadow;
      border: none;
      border-radius: 20px;
      width: 485px;
      max-width: 70vw;
      height: 110px;
      background-color: white;
      margin-bottom: 20px;
    }

    .keyboard {
      .row {
        display: flex;
      }

      .button {
        width: 140px;
        max-width: 30vw;
        height: 120px;
        max-height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 30px;
        background-color: $ecMainLight;
        color: $ecFontDark;
        box-shadow: $ecCardShadow;
        padding-top: .5rem;
        margin: .8rem;
        
        &:active {
          box-shadow: none;
        }

        .text {
          font-size: 3.8rem;
          font-weight: bold;
          font-family: Inter, sans-serif;
          transform: scaleX(.9);
          height: auto;
        }

        .delete {
          height: 45%;
          transform: scaleY(0.7);
        }
      }
    }

    .control {
      display: flex;

      .spacer {
        width: 130px;
        max-width: 20vw;
      }

      .button {
        border-radius: 10px;
        padding: .8rem;
        background-color: rgba(255, 255, 255, .4);
        margin-top: .7rem;
        color: white;
        text-align: center;
        font-size: 45px;
      }
    }
  }
  
  .footer {
    z-index: 1000;
  }
</style>
