<template>
  <div :class="$style.cartPage" @click="handleDebugClick">
    <portal to="header">
      <HeaderContent
        step="Корзина"
        showCart
      />
    </portal>
    <BaseModal @click="modal.show = false" v-show="modal.show" :allow-user-close="false">
      <p :class="$style.modalText">{{ modal.text }}</p>
      <div :class="$style.modalButtonsWrap" v-show="modal.confirm">
        <div
          :class="[$style.modalButton, $style.accent]"
          v-show="modal.button === 'clean'"
          @click="cleanCart"
        >Очистить</div>
        <div
          :class="[$style.modalButton, $style.accent]"
          v-show="modal.button === 'back'"
          @click="$emit('changePage', require('@/components/pages/IdlePage'))"
        >Да</div>
        <div :class="$style.modalButton">Нет</div>
      </div>
    </BaseModal>
    <div v-if="products.length === 0" :class="$style.scanWrap">
      <div :class="$style.imgWrap">
        <img src="@/assets/img/barcode.png" alt="Штрихкод">
        <div :class="$style.diode">
          <div :class="$style.laser"></div>
        </div>
      </div>
      <p :class="$style.scanText">Отсканируйте штрихкод</p>
    </div>
    <div v-else :class="$style.mainWrap">
      <ul :class="$style.productsList">
        <li
          v-for="item in pagedData"
          :key="item.id"
          :class="[$style.productRow, {[$style.fromCatalog]:item.fromCatalog}]"
        >
          <p>{{item.name}}</p>
          <div :class="$style.controlsAndPrice">
            <div :class="$style.quantityWrap">
              <div
                :class="$style.plusMinus"
                @click="minusQuantity(item.id)"
              >
                <PlusMinusIcons minus/>
              </div>
              <span :class="$style.quantity">{{item.quantity}}</span>
              <div
                :class="$style.plusMinus"
                @click="plusQuantity(item.id)"
              >
                <PlusMinusIcons plus :active="!maxQuantityReached(item.id)"/>
              </div>
            </div>
            <p>{{item.sum}} руб.</p>
            <div
              :class="$style.delete"
              @click="deleteItem(item.id)"
            >
              <font-awesome-icon icon="times"/>
            </div>
          </div>
        </li>
      </ul>
      <div :class="$style.pagesAndPrice">
        <div :class="$style.pagesBlock" v-show="totalPages > 1">
          <div
            :class="$style.pageArrows"
            @click="prevPage"
          >
            <font-awesome-icon icon="chevron-left"/>
          </div>
          <span :class="$style.page">{{page.current}}/{{totalPages}}</span>
          <div
            :class="$style.pageArrows"
            @click="nextPage"
          >
            <font-awesome-icon icon="chevron-right"/>
          </div>
        </div>
        <div :class="$style.toPay">
          <p>К оплате:</p>
          <p>{{finalSum}} руб</p>
        </div>
      </div>
    </div>
    <portal to="footer">
      <MainFooter>
        <BaseButton
          back
          @click="$emit('changePage', require('@/components/pages/SelectCategoryPage'))"
        >
          Назад
        </BaseButton>
        <BaseButton
          main
          v-show="products.length"
          @click="showModal({text: 'Очистить корзину?', confirm: true, confirmButton: 'clean'})"
        >
          Очистить корзину
        </BaseButton>
        <BaseButton
          next
          :active="true"
          v-show="products.length"
          @click="$emit('changePage', require('@/components/pages/PaymentPickPage'))"
        >
          К оплате
        </BaseButton>
      </MainFooter>
    </portal>
    <BarcodeHandlerNode
      @message="onBarcodeEnter($event)"
    />
  </div>
</template>

<script>
  import HeaderContent from "@/components/pages/HeaderContent";
  import MainFooter from "@/components/service/MainFooter";
  import BaseButton from "@/components/base/BaseButton";
  import PlusMinusIcons from "@/components/svg/PlusMinusIcons";
  import {log} from "@/helpers/log";
  import {mapState, mapActions, mapGetters} from "vuex";
  import BarcodeHandlerNode from "@/components/utility/BarcodeHandlerNode";
  import { requestProduct } from "@/services/api/api";
  import { library } from "@fortawesome/fontawesome-svg-core";
  import { faTimes, faChevronLeft, faChevronRight } from "@fortawesome/free-solid-svg-icons";
  import BaseModal from "@/components/base/BaseModal";
  library.add(faTimes, faChevronLeft, faChevronRight)
  
  export default {
    name: "CartPage",
    components: {BaseModal, HeaderContent, MainFooter, BaseButton, BarcodeHandlerNode, PlusMinusIcons},
    data() {
      return {
        page: {
          size: 5,
          current: 1
        },
        modal: {
          show: false,
          text: '',
          confirm: false,
          timer: null
        }
      }
    },
    methods: {
      ...mapActions({
        storeSetPayment: 'payment/setType',
        cartAdd: 'cart/add',
        cartRemove: 'cart/remove',
        cartPurge: 'cart/purge'
      }),
      onBarcodeEnter(barcode) {
        log.debug(`Отсканирован продукт ${barcode}`)
        this.modal.show = false
        clearTimeout(this.modal.timer)
        requestProduct(barcode).then(product => {
          if (typeof product === 'object') {
            if (
              (product.Quantity > 0 && !this.cart[product.GUID])
              || (this.cart[product.GUID] && this.cart[product.GUID].quantity < product.Quantity)
            ) {
              this.cartAdd({
                id: product.GUID,
                name: product.Name,
                quantity: 1,
                sum: product.Prices[0].Price,
                maxQuantity: product.Quantity,
                price: product.Prices[0].Price,
                discountPrice: product.Prices[1].Price,
                fromCatalog: false,
              })
            } else {
              this.showModal({
                text: `Не удалось добавить ${product.Name}. Больше нет на складе!`,
                seconds: 5
              })
              log.debug(`Нет возможности добавить еще одну штуку, больше нет на складе`)
            }
          } else {
            this.showModal({text: 'Товар не найден!', seconds: 5})
            log.error('Не получили данные по товару!')
          }
        })
      },
      deleteItem(id) {
        this.cartRemove({ id, quantity: 0 })
        if (!this.pagedData.length && this.page.current > 1) this.page.current--
      },
      minusQuantity(id) {
        this.cartRemove({ id })
        if (!this.pagedData.length && this.page.current > 1) this.page.current--
      },
      plusQuantity(id) {
        const product = this.cart[id]
        if (product.quantity < product.maxQuantity) {
          this.cartAdd(product);
        }
      },
      maxQuantityReached(id) {
        const product = this.products.find(item => item.id === id)
        return product?.quantity >= product?.maxQuantity
      },
      nextPage() {
        if (this.page.current < this.totalPages) {
          this.page.current++
          log.debug(`Пользователь перешел на страницу ${this.page.current}`)
        }
      },
      prevPage() {
        if (this.page.current > 1) {
          this.page.current--
          log.debug(`Пользователь перешел на страницу ${this.page.current}`)
        }
      },
      cleanCart() {
        this.cartPurge();
        this.page.current = 1
        this.showModal({
          text: 'Корзина очищена!',
          seconds: 5
        })
      },
      showModal({text, seconds = 0, confirm = false, confirmButton = ''}) {
        clearTimeout(this.modal.timer)
        this.modal = {
          show: true,
          text: text,
          confirm: confirm,
          button: confirmButton,
          timer: seconds ? setTimeout(() => this.modal.show = false, seconds * 1000) : null
        }
      },
      handleDebugClick() {
        if (this.isMock) this.onBarcodeEnter('1111')
      }
    },
    computed: {
      ...mapState({
        isMock: state => state.settings.debug.mock,
        scannedBarcode: state => state.external.barcode,
        cart: state => state.cart.list
      }),
      ...mapGetters({
        finalSum: 'cart/sum'
      }),
      pagedData: function () {
        const firstOnPage = (this.page.current - 1) * this.page.size
        const lastOnPage = firstOnPage + this.page.size
        return this.products.slice(firstOnPage, lastOnPage)
      },
      products: function () {
        return Object.values(this.cart)
      },
      totalPages: function () {
        return Math.ceil(this.products.length / this.page.size)
      }
    },
    beforeDestroy() {
      clearTimeout(this.modal.timer)
    }
  }
</script>

<style lang="scss" module>
  .cartPage {
    width: 100vw;
    padding: 1rem 4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .modalText {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .modalButtonsWrap {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-top: 3rem;
      
      .modalButton {
        padding: 2rem;
        min-width: 13rem;
        background-color: $ecAccentDark;
        color: $ecMainLight;
        margin: 0 1rem;
        border-radius: 3rem;
        font-size: 1.5rem;
        text-align: center;
      }
  
      .accent {
        background-color: $ecAccentLight;
      }
    }
    
    .imgWrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin: 0 auto;
  
      & img {
        width: 200px;
      }
  
      .laser {
        width: 100%;
        background-color: tomato;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        box-shadow: 0 0 4px red;
        animation: scanning 5s infinite;
        align-self: center;
      }
  
      .diode {
        animation: beam .05s infinite;
      }
    }
    
    .scanText {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      padding-top: 1rem;
    }
    
    .mainWrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      
      .productsList {
        width: 100%;
        height: 100%;
        list-style: none;
        align-self: flex-start;
        overflow: hidden;
        padding: 0 2rem;
    
        .productRow {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.8rem 4rem 0.8rem 2rem;
          background-color: $ecMainLight;
          box-shadow: $ecCardShadow;
          border: 1px solid transparent;
          border-radius: 20px;
          margin-bottom: 1rem;
          overflow: hidden;
          
          &.fromCatalog {
            border: 1px solid $ecAccentLight;
          }
      
          .controlsAndPrice {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 30%;
        
            .quantityWrap {
              display: flex;
              align-items: center;
          
              .plusMinus {
                display: flex;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
              }
          
              .quantity {
                width: 2rem;
                margin: 0 1rem;
                text-align: center;
              }
            }
        
            .delete {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 0;
              right: 0;
              width: 3rem;
              height: 100%;
              background-color: $ecCloseDelete;
              font-size: 2rem;
              color: $ecMainLight;
            }
          }
        }
      }
  
      .pagesAndPrice {
        display: flex;
        height: 4rem;
        padding: 0 2rem;
        
        .pagesBlock {
          display: flex;
          align-items: center;
          
          .pageArrows {
            font-size: 2.5rem;
            padding: 0.5rem;
          }
          
          .page {
            font-size: 1.7rem;
            margin: 0 3rem;
          }
        }
        
        .toPay {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 20rem;
          margin-left: auto;
          font-size: 1.7rem;
          font-weight: bold;
        }
      }
    }
  }

  @keyframes beam {
    50% {
      opacity: 0;
    }
  }

  @keyframes scanning {
    0% {
      transform: translateY(0px);
      opacity: 0;
    }

    5% {
      transform: translateY(0px);
      opacity: 1;
    }

    25% {
      transform: translateY(200px);
    }

    50% {
      transform: translateY(0px);
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>
