<template>
  <div :class="$style.cartPage">
    <portal to="header">
      <HeaderContent
        step="Выберите товары"
        @changePage="$emit('changePage', require('@/components/pages/CartPage'))"
        showCart
      />
    </portal>

    <BaseModal @click="modal.show = false" v-show="modal.show" :allow-user-close="false">
      <p :class="$style.modalText">{{ modal.text }}</p>
      <div :class="$style.modalButtonsWrap" v-show="modal.confirm">
        <div
          :class="[$style.modalButton, $style.accent]"
          @click="cleanAllSelected"
        >Удалить</div>
        <div :class="$style.modalButton">Нет</div>
      </div>
    </BaseModal>

    <div :class="$style.mainWrap">
      <ul :class="$style.productsList">
        <li
          v-for="item in pagedData"
          :key="item.id"
          v-visible="'id' in item"
          :class="[$style.productCard, {[$style.active]: cart[item.id]}]"
          @click="onCardClick(item.id)"
        >
          <div :class="$style.productText">
            <p :class="$style.productName">{{item.name}}</p>
            <p :class="$style.productPrice">{{item.price}} руб.</p>
          </div>
          <div :class="[$style.delete, {[$style.active]: cart[item.id]}]" @click.stop="deleteItem(item.id)">
            <font-awesome-icon icon="times"/>
          </div>
        </li>
      </ul>
      <div :class="$style.pagesBlock" v-show="totalPages > 1">
        <div
          :class="$style.pageArrows"
          @click="prevPage"
        >
          <font-awesome-icon icon="chevron-left"/>
        </div>
        <span :class="$style.page">{{page.current}}/{{totalPages}}</span>
        <div
          :class="$style.pageArrows"
          @click="nextPage"
        >
          <font-awesome-icon icon="chevron-right"/>
        </div>
      </div>
    </div>

    <portal to="footer">
      <MainFooter>
        <BaseButton
          back
          @click="$emit('changePage', require('@/components/pages/SelectCategoryPage'))"
        >
          Назад
        </BaseButton>
        <BaseButton
          main
          v-show="catalog.length"
          @click="onResetClick"
        >
          Удалить все
        </BaseButton>
        <BaseButton
          next
          :active="true"
          @click="$emit('changePage', require('@/components/pages/CartPage'))"
        >
          В корзину
        </BaseButton>
      </MainFooter>
    </portal>
  </div>
</template>

<script>
  import HeaderContent from "@/components/pages/HeaderContent";
  import MainFooter from "@/components/service/MainFooter";
  import BaseButton from "@/components/base/BaseButton";
  import { log } from "@/helpers/log";
  import { mapState, mapActions } from "vuex";
  import { library } from "@fortawesome/fontawesome-svg-core";
  import { faTimes, faChevronLeft, faChevronRight } from "@fortawesome/free-solid-svg-icons";
  import BaseModal from "@/components/base/BaseModal";
  import { catalogMock } from "@/helpers/mock/goodsMock";
  library.add(faTimes, faChevronLeft, faChevronRight)
  
  export default {
    name: "CatalogPage",
    components: {BaseModal, HeaderContent, MainFooter, BaseButton},
    data() {
      return {
        catalog: [],
        page: {
          size: 8,
          current: 1
        },
        modal: {
          show: false,
          text: '',
          confirm: false,
          timer: null
        }
      }
    },
    methods: {
      ...mapActions({
        storeSetPayment: 'payment/setType',
        cartAdd: 'cart/add',
        cartRemove: 'cart/remove'
      }),
      onCardClick(id) {
        if (!this.cart[id]) {
          const product = this.catalog.find(item => item.id === id);
          this.cartAdd(product);
        }
      },
      deleteItem(id) {
        if (this.cart[id]) {
          this.cartRemove({id, quantity: 0});
        }
      },
      nextPage() {
        if (this.page.current < this.totalPages) {
          this.page.current++
          log.debug(`[Каталог] Пользователь перешел на страницу ${this.page.current}`)
        }
      },
      prevPage() {
        if (this.page.current > 1) {
          this.page.current--
          log.debug(`[Каталог] Пользователь перешел на страницу ${this.page.current}`)
        }
      },
      onResetClick() {
        if (this.selectedProducts.length) {
          this.showModal({text: 'Удалить все выбранные товары?', confirm: true})
        }
      },
      cleanAllSelected() {
        this.selectedProducts.forEach(item => {
          if (item.fromCatalog) this.cartRemove({id: item.id, quantity: 0})
        });
        log.debug('Пользователь удалил все товары из корзины!');
      },
      showModal({text, seconds = 0, confirm = false}) {
        clearTimeout(this.modal.timer)
        this.modal = {
          show: true,
          text: text,
          confirm: confirm,
          timer: seconds ? setTimeout(() => this.modal.show = false, seconds * 1000) : null
        }
      }
    },
    computed: {
      ...mapState({
        isMock: state => state.settings.debug.mock,
        cart: state => state.cart.list
      }),
      adaptivePageSize() {
        if (window.innerWidth > 1800) {
          const remains = this.page.size % 3;
          if (remains !== 0) {
            return this.page.size + (3 - remains)
          }
          return this.page.size
        } else {
          const remains = this.page.size % 2;
          if (remains !== 0) {
            return this.page.size + (2 - remains)
          }
          return this.page.size
        }
      },
      pagedData() {
        const firstOnPage = (this.page.current - 1) * this.adaptivePageSize;
        const lastOnPage = firstOnPage + this.adaptivePageSize;
        const productsOnPage = this.catalog.slice(firstOnPage, lastOnPage);
        if (productsOnPage.length === this.adaptivePageSize) {
          return productsOnPage
        } else {
          const shortage = this.adaptivePageSize - productsOnPage.length
          for (let i = 0; i < shortage; i++) {
            productsOnPage.push({})
          }
          return productsOnPage
        }
      },
      totalPages() {
        return Math.ceil(this.catalog.length / this.adaptivePageSize);
      },
    },
    beforeMount() {
      let getCatalog
      if (this.isMock) {
        getCatalog = catalogMock;
      } else {
        //todo запрос на получение каталога
      }
      this.catalog = getCatalog.map(product => {
        return {
          id: product.GUID,
          name: product.Name,
          quantity: 1,
          sum: product.Prices[0].Price,
          maxQuantity: product.Quantity,
          price: product.Prices[0].Price,
          discountPrice: product.Prices[1].Price,
          fromCatalog: true
        }
      })
    },
    beforeDestroy() {
      clearTimeout(this.modal.timer)
    }
  }
</script>

<style lang="scss" module>
  .cartPage {
    width: 100vw;
    padding: 2rem 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .modalText {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .modalButtonsWrap {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-top: 3rem;
      
      .modalButton {
        padding: 2rem;
        min-width: 13rem;
        background-color: $ecAccentDark;
        color: $ecMainLight;
        margin: 0 1rem;
        border-radius: 3rem;
        font-size: 1.5rem;
        text-align: center;
      }
  
      .accent {
        background-color: $ecAccentLight;
      }
    }
    
    .mainWrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      
      .productsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin: auto;
        width: 100%;
        height: 70%;
        list-style: none;
        align-self: flex-start;
        overflow: hidden;
    
        .productCard {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 550px;
          height: 80px;
          padding-left: 30px;
          background-color: $ecMainLight;
          box-shadow: $ecCardShadow;
          border-radius: 20px;
          margin-bottom: 1.2rem;
          overflow: hidden;
          
          &.active {
            background-color: rgba($ecMainDark, 0.9);
            color: $ecMainLight;
          }

          .productText {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 60px);

            .productName {
              width: calc(100% - 130px);
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }

            .productPrice {
              width: 130px;
              text-align: right;
            }
          }

          .delete {
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
            width: 50px;
            height: 100%;
            background-color: rgba($ecMainDark, 0.2);
            font-size: 2rem;
            color: $ecMainLight;

            &.active {
              background-color: $ecCloseDelete;
            }
          }
        }
      }
      
      .pagesBlock {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .pageArrows {
          font-size: 2.5rem;
          padding: 0.5rem;
        }
        
        .page {
          font-size: 1.7rem;
          margin: 0 3rem;
        }
      }
    }
  }
</style>
