<template>
  <div :class="$style.confirmPage">
    <portal to="header">
      <HeaderContent :step="dataIsSet ? 'Подтвердите данные' : 'Произошла ошибка'"/>
    </portal>
    <portal to="modal">
      <BaseModal
        v-if="showLoader"
        :allow-user-close="false"
      >
        <BaseLoader>
          Пожалуйста подождите...
        </BaseLoader>
      </BaseModal>
    </portal>
    <h2
      v-if="dataIsSet"
      :class="$style.dataTitle"
    >
      Данные по заказу
    </h2>
    <div
      :class="$style.dataErrorText"
      v-if="!dataIsSet"
    >
      {{ errorMessage }}
    </div>
    <div v-else :class="$style.ifSuccessBlock">
      <img
        src="@/assets/img/icons/icon-arrow.svg"
        alt="Стрелка"
        v-visible="cardView && currentPage > 1"
        :class="$style.arrowLeft"
        @click="scrollLeft"
      >
      <div :class="$style.mainSection">
        <div :class="[$style.whitePadding, $style.top]" v-show="!cardView"></div>
        <div
          :class="[
          $style.wrapper,
          {
            [$style.card]: cardView,
            [$style.list]: !cardView
          }
        ]"
          ref="wrap"
          :style="wrapperWidth"
        >
          <div
            :class="[
            $style.groups,
            {
              [$style.card]: cardView,
              [$style.list]: !cardView
            }
          ]"
            :style="groupWidth"
          >
            <div
              :class="[
              $style.dataWrap,
              {
                [$style.card]: cardView,
                [$style.list]: !cardView
              }
            ]"
              v-for="(position, index) in data"
              :key="index"
              :style="cardSize"
            >
              <div>
                <p><span>{{position.Name}}</span></p>
                <p>№: {{position.Article}}</p>
              </div>
              <div :class="[
                $style.priceWrap,
                {
                  [$style.card]: cardView,
                  [$style.list]: !cardView
                }]"
              >
                <p>Количество: <span>{{position.Quantity}} шт.</span></p>
                <p>Сумма: <span>{{position.Price * position.Quantity}} ₽</span></p>
              </div>
            </div>
          </div>
        </div>
        <div :class="[$style.whitePadding, $style.bottom]" v-show="!cardView"></div>
        <div
          :class="[
          $style.bottomWrap,
          {
            [$style.card]: cardView,
            [$style.list]: !cardView
          }
        ]"
        >
          <div :class="$style.listArrows" v-if="!cardView">
            <img
              src="@/assets/img/icons/icon-arrow.svg"
              alt="Стрелка"
              :class="$style.arrowDown"
              @click="scrollDown"
            >
            <img
              src="@/assets/img/icons/icon-arrow.svg"
              alt="Стрелка"
              :class="$style.arrowUp"
              @click="scrollUp"
            >
          </div>
          <div
            :class="[
              $style.finalPriceWrap,
              {
                [$style.card]: cardView,
                [$style.list]: !cardView
              }
            ]"
          >
            <div :class="$style.price">
              <p>Итого:</p>
              <p>{{this.finalPrice}} ₽</p>
            </div>
            <div :class="$style.price">
              <p>К оплате:</p>
              <p :class="$style.bold">{{this.finalPrice}} ₽</p>
            </div>
          </div>
        </div>
      </div>
      <img
        src="@/assets/img/icons/icon-arrow.svg"
        alt="Стрелка"
        v-visible="cardView && currentPage < pages"
        :class="$style.arrowRight"
        @click="scrollRight"
      >
    </div>
    <portal to="footer">
      <MainFooter>
        <BaseButton
          back
          @click="$emit('changePage', require('@/components/pages/InputPage'))"
        >Назад
        </BaseButton>
        <BaseButton
          :active="dataIsSet"
          next
          @click="$emit('changePage', require('@/components/pages/PaymentPickPage'))"
        >К оплате
        </BaseButton>
      </MainFooter>
    </portal>
  </div>
</template>

<script>
  import HeaderContent from "@/components/pages/HeaderContent";
  import MainFooter from "@/components/service/MainFooter";
  import BaseButton from "@/components/base/BaseButton";
  import "scroll-behavior-polyfill"
  import { mapState } from "vuex";
  import BaseModal from "@/components/base/BaseModal";
  import BaseLoader from "@/components/base/BaseLoader";
  import { goodsMock } from "@/helpers/mock/goodsMock";
  
  export default {
    name: "DataListPage",
    components: {HeaderContent, MainFooter, BaseButton, BaseModal, BaseLoader},
    data() {
      return {
        cardView: false,
        cardSize: {},
        
        data: '',
        finalPrice: null,
        wrapperWidth: null,
        scrollValue: null,
        groupWidth: null,
        pages: null,
        currentPage: 1,
        showLoader: false,
        errorMessage: 'Данные не получены'
      }
    },
    methods: {
      scrollLeft() {
        this.$refs.wrap.scrollLeft -= this.scrollValue
        this.currentPage--
        if (this.currentPage < 1) this.currentPage = 1;
      },
      scrollRight() {
        this.$refs.wrap.scrollLeft += this.scrollValue
        this.currentPage++
        if (this.currentPage > this.pages) this.currentPage = this.pages;
      },
      scrollDown() {
        this.$refs.wrap.scrollTop += this.scrollValue
      },
      scrollUp() {
        this.$refs.wrap.scrollTop -= this.scrollValue
      }
    },
    computed: {
      ...mapState({
        isMock: state => state.settings.debug.mock,
        storedOrderNum: state => state.input.orderNum
      }),
      dataIsSet() {
        return this.data ?? false
      }
    },
    created() {
      if (this.isMock) {
        this.data = goodsMock
        this.finalPrice = goodsMock.reduce((acc, next) => acc + next.Sum, 0)
      }
      else if (this.storedOrderNum) {
        // this.showLoader = true
      }
    },
    mounted() {
      this.$refs.wrap.style.scrollBehavior = "smooth"
      this.cardSize = {
        width: this.cardView ? '500px' : '100%',
        marginRight: this.cardView ? '30px' : '0'
      }
      
      if (this.cardView) {
        this.scrollValue = 2 * (Number(this.cardSize.width.replace('px', '')) + Number(this.cardSize.marginRight.replace('px', '')))
        this.pages = Math.ceil(this.data.length / 2)
        this.groupWidth = 'width: ' + (this.scrollValue * this.pages) + 'px'
        this.wrapperWidth = 'width: ' + this.scrollValue + 'px'
      } else {
        this.scrollValue = this.$refs.wrap.clientHeight;
      }
    }
  }
</script>

<style lang="scss" module>
  .confirmPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    
    .dataTitle {
      font-size: 1.5rem;
      margin-bottom: 20px;
      text-align: center;
    }
    
    .dataErrorText {
      width: 600px;
      font-size: 2rem;
      margin: 0 auto;
      text-align: center;
      line-height: 40px;
    }
    
    .ifSuccessBlock {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .mainSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .arrowLeft,
      .arrowRight {
        width: 60px;
        height: 60px;
        margin-bottom: 10rem;
      }
      
      .arrowLeft {
        &:active {
          transform: scale(0.9);
        }
      }
      
      .arrowRight {
        transform: rotate(180deg);
        
        &:active {
          transform: scale(0.9) rotate(180deg);
        }
      }
    }
  }
  
  .wrapper {
    overflow: hidden;
    scroll-behavior: smooth;
    
    &.card {
      width: 1020px;
      margin-bottom: 15px;
      scroll-behavior: smooth;
    }
    
    &.list {
      width: 85vw;
      height: 45vh;
      background-color: $ecMainLight;
      box-shadow: $ecCardShadow;
      border-radius: 30px;
    }
    
    .groups {
      &.card {
        display: flex;
        width: 2040px;
        padding: 0 15px 15px;
      }
      &.list {
        width: 100%;
        padding: 2rem;
      }
    }
    
    .dataWrap {
      display: flex;
      justify-content: space-between;
      
      &.card {
        flex-direction: column;
        width: 310px;
        height: 350px;
        padding: 30px;
        box-shadow: $ecCardShadow;
        border-radius: 30px;
        background-color: $ecMainLight;
        margin-right: 30px;
      }
      
      &.list {
        width: 100%;
        padding: 20px 10px;
        border-bottom: 1px solid rgba($ecMainDark, 0.2);
        
        &:first-child {
          padding-top: 0;
        }
      }
      
      .priceWrap {
        &.list {
          min-width: 260px;
          
          p {
            display: flex;
            justify-content: space-between;
          }
        }
      }
      
      & p {
        font-size: 20px;
        padding-bottom: 10px;
        
        &:last-child {
          padding-bottom: 0;
        }
        
        & span {
          font-weight: bold;
        }
      }
    }
  }
  
  .whitePadding {
    width: 95%;
    z-index: 2;
    
    &.top {
      height: 41px;
      margin-bottom: -40px;
      background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
    }
    
    &.bottom {
      height: 61px;
      margin-top: -60px;
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
    }
  }
  
  .bottomWrap {
    display: flex;
    align-items: center;
    width: 100%;
    
    &.list {
      justify-content: space-between;
      height: 80px;
      padding: 20px 40px 0;
    }
    
    &.card {
      justify-content: center;
    }
    
    .listArrows {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 200px;
      
      .arrowDown,
      .arrowUp {
        width: 60px;
        height: 60px;
      }
      
      .arrowDown {
        transform: rotate(270deg);
        
        &:active {
          transform: scale(0.9) rotate(270deg);
        }
      }
      .arrowUp {
        transform: rotate(90deg);
        
        &:active {
          transform: scale(0.9) rotate(90deg);
        }
      }
    }
    
    .finalPriceWrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .bold {
        font-size: 24px;
        font-weight: bold;
      }
      
      &.card {
        width: 310px;
        height: 150px;
        padding: 30px;
        box-shadow: $ecCardShadow;
        border-radius: 30px;
        background-color: $ecMainLight;
      }
      
      &.list {
        align-self: flex-end;
        width: 260px;
        height: 100%;
      }
    }
  }
</style>