<template>
  <div :class="$style.finish">
    <portal to="header">
      <HeaderContent
        step="Печать квитанции"
        icon-color="light"
        :class="$style.headerContent"
      />
    </portal>
    <div :class="$style.contentWrap">
      <div :class="$style.typeImage"></div>
      <p :class="$style.todo">Оплата прошла успешно.<br>Не забудьте взять квитанцию!</p>
    </div>
    <portal to="footer">
      <MainFooter>
        <BaseButton
          :active="true"
          main
          @click="goToMain"
        >На главную
        </BaseButton>
      </MainFooter>
    </portal>
  </div>
</template>

<script>
  import BaseButton from "@/components/base/BaseButton";
  import MainFooter from "@/components/service/MainFooter";
  import { mapState } from "vuex";
  import HeaderContent from "@/components/pages/HeaderContent";
  import {requestSetPay} from "@/services/api/api";
  import {log} from "@/helpers/log";
  
  export default {
    name: "FinishPage",
    components: { HeaderContent, MainFooter, BaseButton },
    data() {
      return {
        toMain: {
          timer: null,
          delay: 6 * 1000,
        }
      }
    },
    computed: {
      ...mapState({
        paymentType: state => state.payment.type,
        paymentData: state => state.payment.info,
        inputSum: state => state.payment.sum.input,
        totalSum: state => state.payment.sum.total,
        paymentSuccess: state => state.payment.success,
        products: state => state.products,
        finalSum: state => state.finalSum,
        cart: state => state.cart.list
      }),
    },
    methods: {
      goToMain() {
        this.$emit('changePage', require('@/components/pages/IdlePage'));
      }
    },
    created() {
      this.toMain.timer = setTimeout(
        this.goToMain,
        this.toMain.delay,
      );
  
      if (this.paymentSuccess) {
        // выполняем действия при успешной оплате
        
        const data = {
          TransactionNumber: '123456789',
          CashAmount: this.paymentType === 0 ? this.inputSum : 0,
          KontragentName: "ИП Езус",
          ReceiptNumber: this.paymentData?.fdNumber || '-1',
          ArrayItem: Object.values(this.cart).map(({id, quantity, sum}) => ({Code: id, Quantity: quantity, Sum: sum})),
          ArrayCashless: [{Sum: this.paymentType === 1 ? this.totalSum : 0}]
        }

        requestSetPay(data);
      }
    },
    beforeDestroy() {
      clearTimeout(this.toMain.timer);
    },
  }
</script>

<style lang="scss" module>
  .headerContent {
    background-color: $ecMainDark;
    color: $ecMainLight;
  }
  
  .finish {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 4vh 0;
    background-color: $ecMainDark;
    color: $ecMainLight;
    
    .contentWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 65vw;
      
      .typeImage {
        width: 346px;
        height: 346px;
        border-radius: 50%;
        background-color: $ecMainLight;
        background-image: url("~@/assets/img/icons/icon-check.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
  
      .todo {
        font-size: 1.8rem;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
</style>
