<template>
  <div :class="$style.header">
    <div :class="$style.headerTop">
      <slot name="leftPart">
        <div :class="$style.date">{{date}}</div>
      </slot>
      <slot name="middlePart">
        <h1 :class="$style.title">Терминал оплаты</h1>
      </slot>
      <slot name="rightPart">
        <div :class="$style.phone">
          <PhoneIcon :iconColor="iconColor"/>
          <p>{{ supportPhone }}</p>
        </div>
      </slot>
    </div>
    <div :class="$style.secondLine" @click="onCartClick">
      <h2 v-if="step" :class="$style.step">{{step}}</h2>
      <div :class="$style.cart" v-if="$attrs.hasOwnProperty('showCart')">
        <font-awesome-icon icon="shopping-cart"/>
        <span>Корзина</span>
        <div v-show="cartSize > 0" :class="$style.cartLength">{{ cartFullSize }}</div>
      </div>
    </div>
  </div>
</template>

<script>
  import moment from "moment";
  import PhoneIcon from "@/components/svg/PhoneIcon";
  import {mapState, mapGetters} from "vuex";
  import { library } from "@fortawesome/fontawesome-svg-core";
  import { faShoppingCart } from "@fortawesome/free-solid-svg-icons";
  library.add(faShoppingCart)
  
  export default {
    name: "HeaderContent",
    components: {PhoneIcon},
    props: {
      step: {
        type: String,
        required: false,
        default: ''
      },
      iconColor: {
        type: String,
        required: false,
        default: 'dark'
      },
    },
    data() {
      return {
        supportPhone: '8(495)888-88-88',
        dateInterval: '',
        date: this.formDate()
      }
    },
    methods: {
      formDate() {
        return moment().format('H:mm:ss / DD.MM.YY')
      },
      onCartClick() {
        this.$emit('changePage', require('@/components/pages/CartPage'));
      }
    },
    computed: {
      ...mapState({
        cart: state => state.cart.list,
      }),
      ...mapGetters('cart', {
        cartSize: 'size',
        cartFullSize: 'fullSize'
      })
    },
    beforeMount() {
      this.dateInterval = setInterval(() => {
        this.date = this.formDate()
      }, 1000)
    },
    beforeDestroy() {
      clearInterval(this.dateInterval)
    }
  }
</script>

<style lang="scss" module>
  .header {
    width: 100vw;
    height: 100%;
    background-color: $ecMainLight;
    
    padding: 10px 60px;
  
    .step {
      display: flex;
      align-items: center;
      font-weight: 800;
      font-size: 2.2rem;
      line-height: 2.2rem;
      
      &:after {
        content: '';
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        margin: auto 0 auto 10px;
        background-color: $ecAccentLight;
      }
    }
    
    .secondLine {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      
      .cart {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        padding: 0.7rem 1.6rem;
        color: $ecMainLight;
        background-color: $ecAccentDark;
        border-radius: 5rem;
        
        span {
          font-size: 1.3rem;
          font-weight: bold;
          margin-left: 0.8rem;
          letter-spacing: 1px;
        }
    
        .cartLength {
          position: absolute;
          top: -0.7rem;
          right: -0.7rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2.2rem;
          height: 2.2rem;
          font-size: 1.2rem;
          background-color: $ecAccentLight;
          color: $ecMainLight;
          border-radius: 50%;
        }
      }
    }
  }
  
  .headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    
    .title {
      position: absolute;
      left: 50%;
      top: 1.2rem;
      font-size: 2rem;
      font-weight: 800;
      margin: 0;
      transform: translate(-50%);
    }
    
    .date {
      color: $ecFontSecondary;
      width: 200px;
    }
    
    .phone {
      display: flex;
      align-items: center;
      
      p {
        margin-left: 10px;
      }
    }
  }
</style>