<template>
  <div :class="$style.idle">
    <portal to="header">
      <HeaderContent/>
    </portal>
    <div
      :class="$style.screenButton"
      @click="$emit('changePage', require('@/components/pages/SelectCategoryPage'))"
    ></div>
    <div :class="$style.backgroundWrap">
      <img
        :class="$style.mainImg"
        src="~@/assets/img/logo-new.svg"
        alt="Электронный кассир"
      >
    </div>
    <portal to="footer">
      <MainFooter :class="$style.footer">
        <p>Коснитесь экрана</p>
      </MainFooter>
    </portal>
  </div>
</template>

<script>
  import store from "@/store/store";
  import payment from "@/store/dynamic/payment";
  import refund from "@/store/dynamic/refund";
  import cart from "@/store/dynamic/cart";
  import { mapActions, mapGetters, mapState } from "vuex";
  import MainFooter from "@/components/service/MainFooter";
  import HeaderContent from "@/components/pages/HeaderContent";
  
  export default {
    name: "IdlePage",
    components: {HeaderContent, MainFooter},
    inject: {
      hiddenButtons: 'hiddenButtons',
      globalTimeout: 'globalTimeout',
    },
    computed: {
      ...mapState({
        gateId: state => state.settings.gateId,
      }),
      ...mapGetters({
        isDebug: 'settings/isDebug',
      }),
    },
    methods: {
      ...mapActions({
        setMainPageStatus: 'setMainPageStatus',
        resetStore: 'loadInitialState',
        storeBarcode: 'updateBarcode'
      })
    },
    beforeCreate() {
      if (store.hasModule('payment')) {
        store.unregisterModule('payment');
      }
      if (store.hasModule('refund')) {
        store.unregisterModule('refund');
      }
      if (store.hasModule('cart')) {
        store.unregisterModule('cart');
      }
      
      store.dispatch('loadInitialState');
      setTimeout(() => {
        store.registerModule('cart', cart);
        store.registerModule('payment', payment);
        store.registerModule('refund', refund);
      }, 500);
    
    },
    created() {
      this.hiddenButtons.show();
      this.globalTimeout.stop();
      
      this.setMainPageStatus(true);
    },
    beforeDestroy() {
      this.hiddenButtons.hide();
      if (!this.isDebug) {
        this.globalTimeout.start();
      }
      
      this.setMainPageStatus(false);
    },
  }
</script>

<style lang="scss" module>
  .screenButton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
  }
  
  .idle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  
  .backgroundWrap {
    width: 100%;
    height: 100%;
    background-image: url("~@/assets/img/backgrounds/bg-idle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    & img {
      width: 20vw;
      margin: 2rem;
    }
  }
  
  .mainImg {
    width: 200px;
    height: auto;
  }
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    
    p {
      display: flex;
      align-items: center;
      color: $ecMainLight;
      font-weight: 800;
      font-size: 2.5rem;
      
      &:before {
        content: '';
        display: block;
        width: 88px;
        height: 125px;
        margin: 0 30px 10px 0;
        background-image: url('~@/assets/img/icons/icon-pointer.svg');
        background-repeat: no-repeat;
        animation: click 5s infinite ease;
      }
    }
  }
  
  @keyframes click {
    0% {
      transform: translateY(0px) scale(1)
    }
    8% {
      transform: translateY(-20px) scale(1);
    }
    10% {
      transform: translateY(-20px) scale(0.85);
    }
    12% {
      transform: translateY(-20px) scale(1);
    }
    20% {
      transform: translateY(0px)
    }
    100% {
      transform: translateY(0px)
    }
  }
</style>
