<template>
  <div :class="$style.scanBarcodePage">
    <portal to="header">
      <HeaderContent step="Сканирование" showCart />
    </portal>
    <div :class="$style.imgWrap" @click="pseudoScan">
      <img src="@/assets/img/barcode.png" alt="Штрихкод">
      <div :class="$style.diode">
        <div :class="$style.laser"></div>
      </div>
    </div>
    <p :class="$style.scanText">Отсканируйте штрихкод и товар добавится в корзину</p>
    <portal to="footer">
      <MainFooter>
        <BaseButton
          back
          @click="$emit('changePage', require('@/components/pages/SelectCategoryPage'))"
        >
          Назад
        </BaseButton>
      </MainFooter>
    </portal>
    <BarcodeHandlerNode @message="onBarcodeEnter($event)"/>
  </div>
</template>

<script>
  import HeaderContent from "@/components/pages/HeaderContent";
  import MainFooter from "@/components/service/MainFooter";
  import BaseButton from "@/components/base/BaseButton";
  import {log} from "@/helpers/log";
  import {mapActions, mapGetters, mapState} from "vuex";
  import BarcodeHandlerNode from "@/components/utility/BarcodeHandlerNode";
  import {catalogMock} from "@/helpers/mock/goodsMock";

  export default {
    name: "ScanBarcodePage",
    components: { HeaderContent, MainFooter, BaseButton, BarcodeHandlerNode },
    data() {
      return {
        scanCatalog: []
      }
    },
    methods: {
      ...mapActions({
        storeOrderNum: "updateOrderNum",
        cartAdd: 'cart/add',
        cartRemove: 'cart/remove',
      }),
      addToCart(id) {
        const product = this.scanCatalog.find(item => item.id === id);
        this.cartAdd(product);
      },
      onBarcodeEnter(event) {
        log.debug(`Сохраняем баркод ${event.data} в хранилище`)
        this.storeOrderNum(event.data)
      },
      pseudoScan() {
        if (this.mockEnabled) {
          const secondNumber = Math.random() > 0.5 ? 1 : 2
          const thirdNumber = Math.floor(Math.random() * 10);
          const generatedGUID = `1${secondNumber}${thirdNumber}`

          const product = this.scanCatalog.find(item => item.id === generatedGUID);
          this.cartAdd(product);

          log.debug(`Как будто отсканировали продукт ${product.name}`)
        }
      }
    },
    computed: {
      ...mapGetters('settings', ['mockEnabled']),
      ...mapState({ cart: state => state.cart.list }),
    },
    beforeMount() {
      this.scanCatalog = catalogMock.map(product => {
        return {
          id: product.GUID,
          name: product.Name,
          quantity: 1,
          sum: product.Prices[0].Price,
          maxQuantity: product.Quantity,
          price: product.Prices[0].Price,
          discountPrice: product.Prices[1].Price,
          fromCatalog: true
        }
      })
    }
  }
</script>

<style lang="scss" module>
  .scanBarcodePage {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imgWrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400px;
      margin-bottom: 50px;

      & img {
        width: 300px;
      }

      .laser {
        width: 100%;
        background-color: tomato;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        box-shadow: 0 0 4px red;
        animation: scanning 5s infinite;
      }

      .diode {
        animation: beam .05s infinite;
      }
    }

    .scanText {
      font-size: 28px;
    }
  }

  @keyframes beam {
    50% {
      opacity: 0;
    }
  }

  @keyframes scanning {
    0% {
      transform: translateY(0px);
      opacity: 0;
    }

    5% {
      transform: translateY(0px);
      opacity: 1;
    }

    25% {
      transform: translateY(300px);
    }

    50% {
      transform: translateY(0px);
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>
