<template>
  <div 
    :id="$style.app"
    @click="refreshTimeout"
    @keyup="handleKeyup"
  >
    <div v-if="ui.hiddenButtons">
      <div @click="clickHiddenButton('1');" :class="[$style.skud, $style.top, $style.left]"/>
      <div @click="clickHiddenButton('2');" :class="[$style.skud, $style.top, $style.right]"/>
      <div @click="clickHiddenButton('3');" :class="[$style.skud, $style.bottom, $style.left]"/>
      <div @click="clickHiddenButton('4');" :class="[$style.skud, $style.bottom, $style.right]"/>
    </div>
    <AuthPage v-if="secretPage.open" @close="closeAuthPage"/>
    
    <MainHeader v-if="ui.header" @changePage="changePage($event)">
      <p :class="$style.debugWarning" 
         @click="clickDebugWarning"
         v-if="isDebugWarning"
      >Режим отладки</p>
      <portal-target name="header"></portal-target>
    </MainHeader>

    <MainContent v-if="ui.content">
      <component :is="currentPage" @changePage="changePage($event)"/>
    </MainContent>

    <portal-target name="footer"/>

    <BaseModal
      v-if="timeout.modal.show"
      :allow-user-close="false"
      style="z-index: 100000"
    >
      <TimeoutBlock
        :milliseconds="timeoutTime"
        @timeout="executeTimeout"
        @here="stillHere"
      />
    </BaseModal>
    <BaseModal
      v-if="showPaymentInterrupt"
      :allow-user-close="false"
    >
      <BaseLoader>Прерываем оплату</BaseLoader>
    </BaseModal>
    <portal-target name="modal"></portal-target>
  </div>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { log } from "@/helpers/log";
  import AuthPage from "@/components/pages/AuthPage";
  import MainHeader from "@/components/service/MainHeader";
  import MainContent from "@/components/service/MainContent";
  import MainFooter from "@/components/service/MainFooter";
  import IdleScreen from "@/components/pages/IdlePage";
  import BaseButton from "@/components/base/BaseButton";
  import TimeoutBlock from "@/components/service/TimeoutBlock";
  import BaseModal from "@/components/base/BaseModal";
  import BaseLoader from "@/components/base/BaseLoader";
  
  export default {
    name: 'app',
    components: {
      BaseModal,
      TimeoutBlock,
      BaseButton,
      BaseLoader,
      IdleScreen,
      MainFooter,
      MainContent,
      MainHeader,
      AuthPage
    },
    provide() {
      return {
        UI: this.ui,
        hiddenButtons: {
          hide: this.hideHiddenButtons,
          show: this.showHiddenButtons,
        },
        globalTimeout: {
          start: this.startTimeout,
          refresh: this.refreshTimeout,
          stop: this.stopTimeout,
        }
      };
    },
    data() {
      return {
        secretPage: {
          sequence: '',
          password: '1234',
          timeout: null,
          open: false,
        },
        ui: {
          hiddenButtons: false,
          header: true,
          content: true,
        },
        currentPage: IdleScreen,
        timeout: {
          timer: null,
          prevent: false,
          modal: {
            timer: null,
            show: false,
          },
        },
        showPaymentInterrupt: false,
        hideDebugWarning: false
      };
    },
    computed: {
      ...mapState({
        isMainPage: state => state.isMainPage,
        timeoutTime: state => state.settings.timeout,
        isPayment: state => Boolean(state.payment?.is),
      }),
      ...mapGetters({
        isDebug: 'settings/isDebug',
      }),
      isDebugWarning() {
        return this.isDebug && !this.hideDebugWarning
      }
    },
    methods: {
      ...mapActions({
        cancelCash: 'payment/cancelCash',
        saveCurrentStore: 'saveInitialState',
      }),
      clickHiddenButton(num) {
        clearTimeout(this.secretPage.timeout);
        this.secretPage.sequence += num;
        
        if (this.secretPage.sequence === this.secretPage.password) {
          this.secretPage.sequence = '';
          this.ui.hiddenButtons = false;
          this.secretPage.open = true;
        }
        
        this.secretPage.timeout = setTimeout(() => this.secretPage.sequence = '', 5 * 1000);
      },
      changePage(component) {
        if (component.__esModule) {
          component = component.default;
        }
        
        log.step(`Переход на страницу: ${component.name}`);
        this.currentPage = component;
      },
      hideHiddenButtons() {
        this.ui.hiddenButtons = false;
      },
      showHiddenButtons() {
        this.ui.hiddenButtons = true;
      },
      closeAuthPage() {
        this.secretPage.open = false;
        this.showHiddenButtons();
      },
      startTimeout() {
        log.info('Глобальный таймер запущен');
        this.timeout.prevent = false;
        this.refreshTimeout();
      },
      refreshTimeout() {
        if (!this.timeout.modal.show && !this.timeout.prevent) {
          log.info('Глобальный таймер обновлён');
          clearTimeout(this.timeout.timer);
          this.timeout.timer = setTimeout(() => {
            this.timeout.modal.show = true;
          }, this.timeoutTime);
        }
      },
      stopTimeout() {
        log.info('Глобальный таймер остановлен');
        clearTimeout(this.timeout.timer);
        this.timeout.prevent = true;
      },
      async executeTimeout() {
        this.timeout.modal.show = false;
        
        if (this.isPayment) {
          log.step('Таймаут на оплате');
          
          this.showPaymentInterrupt = true;
          const isCancelWithoutMoney = await this.cancelCash();
          this.showPaymentInterrupt = false;
          
          if (isCancelWithoutMoney) {
            this.changePage(IdleScreen);
          }
        } else {
          log.step('Переход на страницу ожидания по таймауту');
          this.changePage(IdleScreen);
        }
      },
      stillHere() {
        this.timeout.modal.show = false;
        this.refreshTimeout();
      },
      clickDebugWarning() {
        this.hideDebugWarning = true
        setTimeout(() => this.hideDebugWarning = false, 2000)
      },
      handleKeyup(e) {
        if (this.isDebug) {
          switch (e.keyCode) {
            case 65: // a
            case 90: // Z
            case 116: // F5
              location.reload();
              break;
          }
        }
      },
    },
    created() {
      try {
        this.saveCurrentStore();
        if (this.isDebug) {
          this.stopTimeout();
        } else {
          this.startTimeout();
        }
      } catch (e) {
        log.error(e);
      }
    },
  }
</script>

<style lang="scss" module>
  #app {
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .skud {
    position: absolute;
    width: 200px;
    height: 200px;
    //border: 1px solid red;
    z-index: 1000;
    
    &.top {
      top: 0;
    }
    
    &.bottom {
      bottom: 0;
    }
    
    &.right {
      right: 0;
    }
    
    &.left {
      left: 0;
    }
  }

  .debugWarning {
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0.8rem 2.5rem;
    background-color: #af342f;
    color: #fff;
    opacity: 0.8;
  }
</style>

<style lang="scss">
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    user-select: none;
  }
  
  html {
    overflow: hidden;
    -ms-content-zooming: none;
    -ms-touch-action: pan-x pan-y;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $ecBackground;
    background-position: 40px 20px, 0 0;
    background-repeat: no-repeat, repeat;
    
    /* defaults */
    font-size: 1.3rem;
    color: $ecFontDark;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('~@/assets/fonts/Inter/Inter-Medium.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('~@/assets/fonts/Inter/Inter-Bold.ttf') format('TrueType');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('~@/assets/fonts/Inter/Inter-ExtraBold.ttf') format('TrueType');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PTSans';
    src: url('~@/assets/fonts/PTSans-Regular/PTSans-Regular.woff2') format('woff2');
    src: url('~@/assets/fonts/PTSans-Regular/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  /* globals */
  
  /* defaults */
  button {
    background-color: transparent;
    border-radius: 12px;
    font-size: inherit;
  }
  
  /* fixes */
  button {
    border: none;
    outline: none;
    padding: 0; // HACK: убирает анимацию нажатия у текста во всех остальных браузерах
    
    & > span { // HACK: убирает анимацию нажатия у текста в IE
      position: relative;
    }
    
    &:active,
    &:focus {
      outline: none;
    }
  }
</style>
