$ecFontDark: #2E2E2E;
$ecFontSecondary: #787878;
$ecMainDark: #383838;
$ecMainLight: #FFF;
$ecAccentDark: #4D4D4D;
$ecAccentLight: #FF9801;
$ecBackground: #F0F0F0;
$ecCloseDelete: #af342f;

$ecCardShadow: 4px 4px 20px rgba(21, 29, 49, 0.1);